.Detail{
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: 10px dotted black;
  border-radius: 5px;
  width: 25vw;
  padding: 10px;

  figure{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  img{
    border: 5px double black;
    padding: 20px;
    margin: 5px;
  }

  ul{
    text-align: center;

    li{
      margin: 5px;
    }
  }
}